<div>
    <h1>Resume</h1>
</div>

<h2>Skills</h2>

<div class="flexbox">
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <!--<img src="../../assets/img/Backend.png" width=45 height=45>-->
        <span>Skills</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="title">
          <!--<span>Backend</span>-->
      </div>

      <mat-tab-group>
          <mat-tab label="Frontend"> 
            <p>HTML5</p>
            <p>CSS3</p>
            <p>Angular7</p> 
          </mat-tab>

          <mat-tab label="Backend"> Content 2 </mat-tab>
          
          <mat-tab label="Other"> Content 3 </mat-tab>
      </mat-tab-group>

      <p>C#</p>
      <p>MATLAB</p>
      <p>Java</p>
      <p>SQL/T-SQL</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="../../assets/img/Frontend.png" width=45 height=45>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="title">
          <span>Frontend</span>
      </div>
      
  </mat-expansion-panel>

  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="../../assets/img/Communication.png" width=45 height=45>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="title">
          <span>Certifications</span>
      </div>
      <p>MTA Software Developer</p>
      <p>Level 1 NTA Certification</p>
      <p>TOEFL Certification</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img src="../../assets/img/Documentation.png" width=45 height=45>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class="title">
          <span>Software and Tools</span>
      </div>
      <p>Visual Studio</p>
      <p>Visual Studio Code</p>
      <p>IntelliJ</p>
      <p>LaTeX</p>
      <p>Microsoft Project</p>
      <p>Canva</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="../../assets/img/Hobby.png" width=45 height=45>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="title">
            <span>Hobbies</span>
        </div>
        <p>Add text here</p>
    </mat-expansion-panel>
</div>

    


<!--<p>
    <a class="docs-button mat-button" mat-button="" routerlink="/" tabindex="0" href="/"><span class="mat-button-wrapper">
        <img src="../../assets/img/Backend.png" width=100 height=100>
        <span>Backend</span>
      </span> <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay">
    </div>
    </a>
</p>-->
