<header>
    <div class="container">
      <img class ="image" src="assets/img/Logo.png" width=200 height=75 align=left>
      <b class="title">{{ appTitle }}</b>
      <nav>
        <ul>
          <li><a routerLink="/"><b>Home</b></a></li>
          <li><a routerLink="/resume"><b>Resume</b></a></li>
          <li><a routerLink="/portfolio"><b>Portfolio</b></a></li>
          <li><a routerLink="/contact"><b>Contact</b></a></li>
        </ul>
      </nav>
    </div>

    <!--<div style="width:200px; height:200px; overflow:hidden;" >
        <img src="assets/img/Logo.png" width="200px" height="auto">
    </div>-->
  </header>
